<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Templatesss</title>
	<style>
	#bod{
      margin:0;
      padding:0;
      font-family:san serif;
    }
   #sect{
	position:relative;
	width:100%;
	height:100%;
	background:url(C:\Users\Anu Sehgal\Desktop\temp.jpg);
	background-position:center center;
   }
	</style>
  </head>
   <body id="bod">
    <section id="sect">
	<a href="#" class="pic"><img src="C:\Users\Anu Sehgal\Desktop\wallpaper2you_412285.jpg" height="40px" width="40px"/></a>
     <header>
	  <ul>
	   <li><a>Home</a></li>
        <li><a>About us</a>
          <ul>
            <li><a>Gallery</a></li>
            <li><a>Our Team</a></li>
          </ul>
        </li>
        <li><a>Portfolio</a></li>
        <li><a>Contact</a></li>
        <li>
          <div>
            <span class="search-icon">&#8981;</span>
            <input type="text" name="search" id="searchabaleWidget" value="Search" style="display:none;"/>
          </div>
        </li>
	  </ul>
	 </header>
	</section>
     
	</body>
	</html>